* {
  box-sizing: border-box;
}

body {
  margin: 0px 200px;
  height: 100vh;
}

.App {
  display: grid;
  grid-template-rows: 80px auto;
  height: 100vh;
}

@media (max-width: 900px) {
  body {
    margin: 0 50px;
  }
}
