.Navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.Navigation--anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80px;
  border: none;
  font-size: 18px;
  color: #c4c9ef;
  text-decoration: none;
}

.Navigation--anchor:hover {
  color: #1e2665;
  background: #c4c9ef;
}

.active {
  color: #1e2665;
  background: #c4c9ef;
}
